.button {
    -fx-background-color: #838965;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
  

}

.button:pressed {
    -fx-background-color: #372D24; 
    -fx-text-fill: black;
}
Button:hover { 
    -fx-font-size: 17px;
}

TextField {
	-fx-background-color: D6C8BB;
	-fx-text-fill: black;
	-fx-font-size: 15px;
	-fx-border-color: black;
	-fx-font-weight: bold;
	
	
}